/* Sticky footer styles
Style inspiré de http://www.bootstrapzero.com/bootstrap-template/sticky-footer 
-------------------------------------------------- */
@font-face {
  font-family: "Alstom";
  src: url('./fonts/Alstom_Regular.ttf');
}

@font-face {
  font-family: "Alstom";
  font-style: bold;
  src: url('./fonts/Alstom_Black.ttf');
}
@font-face {
  font-family: "Alstom";
  font-weight: lighter;
  src: url('./fonts/Alstom_Light.ttf');
}

html,
body {
  font-family: "Alstom";
}


select{
 font-weight: lighter;
}


/* commons */

h1 {
  margin : 0;
  text-align: left;
  font-size: 3vw;
}


label
{
  font-size: 1.3vw;
  margin : 0 !important;
}


.page-header
{
  width: 100%;
  padding-bottom: 0 !important;
  font-size: 100%;
}




/* Header */ 


/* Bootstrap modifications */
.bg-dark {
  background-color: rgb(12, 65, 173) !important; 
}


.navbar
{
  border-color: transparent;
  border-radius :0;
  min-height: 4vw !important;
}



/* Header content (logout, administration , language...*/
  #content_header{
    display : inline-block;
    position: absolute;
    right : 2vw;
    float : right;
    height: 4vw;
  }

  /* logout button */
  #logoutBtn, #administrationBtn {
    color:white;
    text-decoration: none;
    padding-right: 2vw; 
    font-size: 1.5vw;
    font-weight: lighter;
    display :inline-block;
    margin-top: 0.6vw;
  }

  #logoutBtn:hover
  {
    font-weight: 900;
  }


  #administrationBtn:hover
  {
    font-weight: 900;
  }

  /* language option*/
  #form_language
  {
    border-color: transparent;
    display :inline-block;
    margin: 0.3vw;
    font-size: 1.5vw;
    top : 0;
  }

  #form_language select
  {
    border-radius: 6vw;
    text-decoration : none;
  }


/* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    /* Pad bottom by footer height */
    padding: 0 0 5vw;
  }

  /* Set the fixed height of the footer here */
  #footer {
    background-color: #f5f5f5;
    position : absolute;
    margin-bottom: 0;
  }



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


 

.container
{
  padding : 0 !important;
  width : 80vw;
  margin-left: 10vw;
  margin-right: 15vw;
}

.container .credit {
  margin:0;
}

#footer > .container {
  padding-left: 15vw;
  padding-right: 15vw;
}

#logo_header {
  background-color: #fff;
  border-radius : 15px;
  position : absolute;
  left: 1vw;
  height: 3.4vw;
  margin : 0.3vw;

}




/* Search css*/




.caret
{
    border-top: 0.5vw dashed;
    border-top: 0.5vw solid\9;
    border-right: 0.5vw solid transparent;
    border-left: 0.5vw solid transparent;
    right: 0.2vw !important;
}




.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
padding-right: 1vw;
}



.bootstrap-select>.dropdown-toggle.bs-placeholder
{
  color: black !important;
}


.bootstrap-select
{
  height: 2vw;
  width: 100% !important;
  font-weight : lighter;
  border-radius : 0.3vw !important;
  box-shadow: none;
  border : none;
  background-color: rgb(230,230,230) !important;
  padding-left: 0.3vw; 
}

.btn-default
{
  background-color: transparent !important;
  border-color : transparent !important;
  font-size : 1.2vw !important;
}

.form_search{
  display :inline-block !important;
  font-size : 1.2vw;
}

.form_search label 
{
  font-weight: bold;
  text-align : center;
  width: 100%;
  height: 2vw;
  margin-bottom: 0.3vw;
}

.form_search input 
{
  display :inline-block !important;
  width: 100%;
  height: 2vw;
  font-weight : lighter;
  border-radius : 0.3vw !important;
  box-shadow: none;
  border : none;
  background-color: rgb(230,230,230) !important;
}


#content_search_1{
  width: 14vw;
  margin-left: 1.2vw;
  height: 10vw;
  display :inline-block;
}

#content_search_2{
  width: 12vw;
  display :inline-block;
  padding: 1.2vw;
  height: 10vw; 
}

#content_search_3{
  width : 14vw;
  display :inline-block;
  margin-left: 1.2vw;
  height: 10vw;
}


#content_search_4
{
  width : 14vw;
  display :inline-block;
  margin-left: 1.2vw;
  height: 10vw;
}


#content_search_5
{
  width : 14vw;
  height: 10vw;
  display :inline-block;
  margin-left: 1.2vw;
}

#content_search_9 {
  width : 100%;
  display :inline-block;
  padding: 0.5vw;
}





/* search button*/
#send {
  border-radius : 0.4vw !important;
  border-color: transparent;
  font-size: 1.2vw;
  width: 10vw;
  height: 3vw;
  margin-left: 35vw;
  margin-right: 25vw;
  background-color : rgb(3,70,148) ;
}
#send:hover
{
  background-color : #09A6C5; 
}

/*****************************************************************/
/*****************************************************************/

/*****************results page***********************************/
th
{
  font-size: 1.2vw !important;  
}
.btn
{
  padding: 0 !important;
}
.lead
{
   font-size : 1.2vw !important; 
}


#exportButton
{
  border-radius : 0.4vw !important;
  border-color: transparent !important;
  font-size: 1.2vw !important;
  width: 20vw !important;
  height: 3vw !important;
  margin-left: 30vw !important;
  background-color : rgb(3,70,148) ;  
}

#exportButton:hover
{
  background-color : #09A6C5; 
}


/****************************************************************/
/* manager options */





/* XLS importation option */
#form_import
{
  width: 100%;
  height: 2.4vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
}


/* Drag & Drop Zone*/
.label-file {
  cursor: pointer;
  color:  #004493;
  font-weight: bold;
  font-size: 1.2vw;
}

.label-file:hover {
    color: #09A6C5;
}

.input-file {
    display: none !important;
}

#import_button
{
  font-size: 1.3vw;
  width: 5vw;
  height: 2.5vw;
  margin-left: 1vw;
  padding: 0 !important;
  background-color : rgb(3,70,148) ;
}
#import_button:hover
{
  background-color : #09A6C5; 
  border :  #09A6C5;
}
#change-file
{
   font-size: 1vw; 
   margin: 0;
   margin-top: -1vw; 
   color: darkgrey;
}